*{
  padding: 0px;
  margin: 0;
}

input {
  font-size: 14px;
  font-family: Helvetica, sans-serif;
}

body {
  /*background-color: #BBB;*/
  /* background:url(http://www.freechristmaswallpapers.net/wallpapers/download/Frozen-Christmas-Background_1920x1200.jpeg); */
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOK_3IU1G8A-PBgO9KxQrLzrOCjAQobDp9hZLlHScpAWWpz_CV4w);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Helvetica, sans-serif;
  /*margin:0px 100px;*/
  margin:175px 5% 0 5%;
  margin-bottom:25px;
}

.top-body{
	z-index:999;
	margin-right:3%;
  position: fixed;
  top: 0;
  left: 3%;
  right: 0;
  /*width:93%;*/
  background-color: #BBB;
  /*margin-bottom:25px;*/
  /*padding-bottom:25px;*/
}
.header{

  background-color: brown;
   padding:0;

}
.inner-header{
   padding-bottom:1px;
   padding-top:1px;
}

.header_left li {
  list-style-type: none;
  text-align: center;
  float: left;
  width: 100px;
  border-right: 1px solid white;
}
.header_left li:nth-child(1){
  margin-left: 50px;
}
.header_left li:nth-child(3){
  border:none;
}
.header_left li a{
  display:block;
   text-decoration: none;
   text-align: center;
   width: 99px;
   color:white;
     height:25px;
   line-height:25px;
}
.header_right li {
  list-style-type: none;
  text-align: center;
  float: right;
  width: 100px;
  border-left: 1px solid white;
}
/*@media (max-width: 930px){
	.header_right li, .header-left li{
   		float:left;
    }
}*/
.header_right li:nth-child(1){
  margin-right: 50px;
}
.header_right li:nth-child(4){
  border:none;
}
.header_right li a{
  display:block;
   text-decoration: none;
   text-align: center;
   width: 99px;
   color:white;
     height:25px;
   line-height:25px;
}

.header_left li a:hover, .header_right li a:hover{
	text-decoration:underline;
}
.searchBar {
  /*max-width: 750px;*/
  width:100%;
  /*margin: 20px auto 0 auto ;*/  /*up right down left*/
  padding: 0px;
  background-color: orange;
}

.form-row {
  /*padding: 10px 20% 10px 5%;*/
  /*height: 50px;*/
  /*background-color: orange;*/
  /*padding-top:15px;
  padding-bottom:15px;*/
  padding:20px 0;
  display: flex;
  /*justify-content: space-between;*/
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
#questionmark, #mail{
	cursor:pointer;
}
.form-row .icon{
  text-align:center;
  width:8%;
  font-size:20px;

}
.form-row h1{
  font-size: 30px;
  font-family:Arial;
  color:navy;
  font-weight:bold;
  text-align: center;
  width:40%;

}
.form-row input {
  height:25px;
  width: 30%
}

.button{
 width: 10%;
 min-width:100px;
}
.button a{
   /*width: 10%;*/
   display:block;
  text-decoration:none;
  background: #e7e7e7;
  border:1px solid;
  border-radius:3px;
  font: 700 13px Helvetica,Arial;
  height:30px;
  line-height:28px;
  padding:0px 20px;
  text-align:center;
  /*margin-right:10px;*/
 box-sizing:border-box;
}

.button a:hover{
  color: #000;
  background-color: #dadada;
  cursor:pointer;
}
@media (max-width: 1100px){
 .form-row{
   padding: 0;
 }
 .form-row input {
    /*display:none;*/
    min-width: 150px;
 }
 .form-row .icon{
	min-width:50px;
 }
 .button a{
   /*display:none;*/
   min-width: 100px;
 }

}

.navBar{
   background-color: #5b4a4a;
   width: 100%;
   /*height: 50px;*/
  padding-top: 2px;
   padding-bottom:2px;

   /*padding-left: 400px;*/
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.navBar ul#navmenu, ul.sub1, ul.sub2{
   list-style-type: none;
    font-size:20px;
}

.navBar ul#navmenu li{
    /*outline: 1px solid red;*/
    width: 200px;
    text-align:center;
    position:relative;
    float:left;
    margin-right:4px;
       z-index:1;

}

.navBar ul#navmenu a{
   text-decoration: none;
   display:block;
   width:200px;
   height:45px;
   line-height:45px;
   /*background-color:#FFF;*/
    background-color:#d1debd;
   border:1px solid #CCC;
   border-radius:5px;
   transition: background-color 1s;/****************/

}

.navBar ul#navmenu .sub1 li{
 /*border: 1px solid red;*/

}
.navBar ul#navmenu .sub1 a{
  margin-top:5px;
   opacity:0.9;

}

.navBar ul#navmenu .sub2 a{
  margin-left:10px;
   opacity:0.9;

}

.navBar ul#navmenu li:hover>a{
  background-color:lime;
}

.navBar ul#navmenu li:hover a:hover{
  background-color:red;
}

.navBar ul#navmenu ul.sub1{
   display:none;
   position:absolute;
   top:46px;
    left: 0px;
}
.navBar ul#navmenu ul.sub2{
   display:none;
   position:absolute;
   top:0px;
    left:201px;
}

.navBar ul#navmenu li:hover .sub1{
    display:block;
}

.navBar ul#navmenu .sub1 li:hover .sub2{
    display:block;
}

.navBar .darrow{
 font-size:30px;
   position: absolute;
   top:8px;
    right: 4px;
}

.navBar .rarrow{
 font-size:30px;
   position: absolute;
   top:8px;
    right: 4px;
}

.advertisement{
  margin: 20px 0px 0px 0px ;  /*up right down left*/
}

@media  (min-width: 956px) and (max-width: 1102px){
.advertisement {
  margin-top:30px;
 }
}
@media   (min-width: 808px) and (max-width: 955px){
.advertisement {
  margin-top:220px;
 }
}
@media   (min-width: 670px) and (max-width: 807px){
.advertisement {
  margin-top:270px;
 }
}
@media   (min-width: 451px) and (max-width: 669px){
.advertisement {
  margin-top:380px;
 }
}
@media  (min-width: 291px) and (max-width: 450px){
.advertisement {
  margin-top:500px;
 }
}
@media   (max-width: 290px){
.advertisement {
  margin-top:550px;
 }
}
.mySlides {
  display:none;
}

.advertisement_1{
    width: 100%;
  height:100px;
  background-color: red;
  color:white;
  /*display:block;*/
  /*display: flex;*/
}

.advertisement_2{
    width: 100%;
  height:100px;
  background-color: blue;
  color:white;
  /*display:none;*/
}
.advertisement_3{
    width: 100%;
  height:100px;
  background-color: green;
  color:white;
 /* display:none;*/
}
.advertisement_1>h1, .advertisement_2>h1, .advertisement_3>h1{
  font-size: 50px;
  margin: auto;
}

.boxes {
  /*margin-top: 50px;*/
   margin: 25px 0px 25px 0px ;  /*up right down left*/
  padding: 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 30% 30% auto;
  grid-template-areas:
    'main_box main_box side_box_a'
    'main_box main_box side_box_b';
}
@media (max-width: 1000px){
  .boxes{
      grid-template-columns: auto;
    grid-template-areas:
    'main_box '
    'main_box '
    'side_box_a'
    'side_box_b';

  }
}
.main_box{
    grid-area: main_box;
    position:relative;
}

#mmd{
  position:relative;
  min-height: 600px;
  /*background: url(https://source.unsplash.com/random/201x200);
  background:none;
  background-size: cover;
  background-position: center;*/
  padding-left: 10rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

#mmd .box-bg{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: -100;
  overflow: hidden;;
}

#mmd .box-bg .box-bg-carousel{
  height:100%;
  width:500%;
  transform: translateX(0%);
  transition: transform  ease 1s;
}

#mmd .box-bg .box-bg-carousel img{
  height:100%;
  width:20%;
  float:left;
}

#mmd h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: white;
  text-shadow: 3px 3px 20px orange,
	           6px 6px 10px blue;

}

#mmd p {
  font-size: 1.3rem;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
  text-shadow: 6px 6px 10px rgba(0,0,0,1);
}
.btn {
    background: black;
    color: white;
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
    cursor:pointer;
}
.btn:hover{opacity: 0.8;text-decoration: underline;}
.side_box_a {
    grid-area: side_box_a;
     min-width: 300px;
    background: url(https://source.unsplash.com/random/206x200);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:0 1px 5px rgba(104, 104, 104, 0.8);
    padding: 1.5rem;
}
.side_box_b {
    grid-area: side_box_b;
    min-width: 300px;
    background: url(https://source.unsplash.com/random/207x200);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:0 1px 5px rgba(104, 104, 104, 0.8);
    padding: 1.5rem;
}
.side_box_a h1, .side_box_b h1{
  font-size: 2rem;
  margin-bottom: 0;
  color: black;
  text-shadow: 6px 6px 10px rgba(255,255,255,1);

}
.side_box_a p, .side_box_b p{
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 30px;
  color: black;
  text-shadow: 3px 3px 5px rgba(255,255,255,1);

}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-right: 50px solid white;
  border-bottom: 25px solid transparent;
  cursor: pointer;
  position: absolute;
  left: 30px;
  top:45%;
}
.triangle-right {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 50px solid white;
  border-bottom: 25px solid transparent;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top:45%
}
.circle {
	width: 10px;
	height: 10px;
	/*background: gray;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor:pointer;
	border-radius: 5px;
	position: absolute;
	bottom: 30px;
}
.circle1{
    left: 40%;
}
.circle2{
    left: 45%;
}
.circle3{
    left: 50%;
}
.circle4{
    left: 55%;
}
.circle5{
    left: 60%;
}
/* Navigation */
.main-nav ul {
  /*display: grid;
  grid-gap: 2px;*/
  padding: 0;
  list-style: none;
  display:flex;
  justify-content: start;
  flex-wrap: wrap;
  /*grid-template-columns: repeat(4, 1fr);*/
}
.main-nav li{
  width:200px;
   margin-right:2px;
	/*float:left;*/
}
.main-nav a {
  background: #ddd;
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.main-nav a:hover {
  /*background: #333;*/
  color: #fff;
  cursor:pointer;
}

/*products*/
.products{
    margin-bottom:25px;
    padding:20px 0px;
    background:#d5f5a6;
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.product{
    margin:10px 0;/*********/
    width:410px;
    box-sizing: border-box;
     box-shadow:0 1px 5px rgba(104, 104, 104, 0.8);
	padding:40px;
	display: none;
  flex-direction: column;
  align-items: start;
  justify-content: center;

}
.product:nth-child(1) {background-color: #c0dbe2;}
.product:nth-child(2) {background-color: #cdf1c3;}
.product:nth-child(3) {background-color: #ccb9da;}
.product:nth-child(4) {background-color:maroon}
.product:nth-child(5) {background-color:fuchsia}
.product:nth-child(6) {background-color:gray}
.product:nth-child(7) {background-color:olive}
.product:nth-child(8) {background-color:aqua}
.product:nth-child(9) {background-color:yellow}
.product:nth-child(10) {background-color:teal}
.product:nth-child(11) {background-color:green}
.product:nth-child(12) {background-color:silver}

.product img{
	width:100%;
	height:300px;
	margin-bottom:15px;
}
.product h2 ,.product h4{
    font-size:20px;
	margin-bottom:15px;
}
.product a{
	margin-top:20px;
}
.category{
  display: grid;
  /*grid-template-areas:
    'it1 it2 it3 '
    'it1 it4 it5';*/
  grid-gap: 20px;
  /*grid-template-columns: 32% 32% 32%;*/
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows:minmax(250px,auto);
  padding: 0;
  margin:0 0 25px 0;
}
@media (max-width: 800px){
 .category{
    grid-template-columns: 95%;
    grid-template-columns: 1fr;
	}
}
.category>div{
  /*width: 500px;*/
	box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    margin: 0;
	padding:0;
  /*min-height: 250px;*/
  /*width:95%;*/

	/*display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  min-height:200px;
  position:relative;	*/
}
.item1 { /*grid-area: it1;*/ border:lime 5px solid; background:white; grid-row:1/3;  }
.item2 { /*grid-area: it2;*/ border:aqua 5px solid; background:white; }
.item3 { /*grid-area: it3;*/ border:gray 5px solid;  background:white;}
.item4 { /*grid-area: it4;*/ border:maroon 5px solid; background:white; }
.item5 { /*grid-area: it5;*/ border:orange 5px solid;  background:white; }

.item1-head h2{background:lime; }
.item2-head h2{background:aqua; }
.item3-head h2{background:gray; }
.item4-head h2{background:maroon; }
.item5-head h2{background:orange; }

.category h2{height:40px; padding-left:20px; /*padding:5px 0 5px 20px;*/ font-size: 30px;  }
.category ul{ /*margin: 20px 45px*/; margin: 0px 45px;}
.category li>a{font-size: 25px; text-decoration: none;}
.category li>a:hover{text-decoration: underline;}


.item1-body, .item2-body,.item3-body,.item4-body,.item5-body{
  width: 100%;
  padding:10px 0 ;
}
.item2-body li,.item3-body li,.item4-body li{
  /*width: 165px ;*/
  width:50%;
  float: left;
}
@media(max-width:1400px){
  .item2-body li,.item3-body li,.item4-body li{
  width: 165px ;
  /*width:50%;*/
  float: left;
  }
}
.footer {
  margin: 25px 0;
  background: #555;
  color: white;
  text-align: center;
  padding: 1rem;
}

/*horizontal-wrapper*/

.horizontal-wrapper{
	margin-bottom:25px;
}
.horizontal-wrapper-head h2{
    width:30%;
    min-width:250px;
    padding-left:20px;
    background:fuchsia;
    font-size:30px;
	line-height:40px;
}

.horizontal-wrapper-body{
   min-width:300px;
  padding:15px;
  background:white;
   border:5px solid fuchsia;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


.card-container{
	prespective:700;
}

.card{
	color:#fff;
	text-align:center;
	line-height:200px;
	/*margin:20px;*/
	/*background:#5677fc;*/
	/*width:200px;*/
	width:100%;
	height:250px;
	transition: all 0.6s ease;
	transform-style:preserve-3d;  /*use on the parent element*/
	position:relative;
}

.front, .back{
    background:#5677fc;
	border:3px solid black;
	width:100%;
	height:250px;
	position:absolute;
	top:0;
	left:0;
	display:flex;
     backface-visibility:hidden;
}
.front h1{
   margin:auto;
}
.front h1:hover{
   text-decoration:underline;
   cursor:pointer;
}

.card-container:nth-child(1) .front{background:aqua}
.card-container:nth-child(2) .front{background:black}
.card-container:nth-child(3) .front{background:blue}
.card-container:nth-child(4) .front{background:fuchsia}
.card-container:nth-child(5) .front{background:gray}
.card-container:nth-child(6) .front{background:green}
.card-container:nth-child(7) .front{background:maroon}
.card-container:nth-child(8) .front{background:navy}
.card-container:nth-child(9) .front{background:olive}
.card-container:nth-child(10) .front{background:orange}
.card-container:nth-child(11) .front{background:purple}
.card-container:nth-child(12) .front{background:red}

/*.back{
     transform:rotateY(180deg);
}*/
.front{
     transform:rotateY(180deg);   /*double rotate:back to the back*/
}

.card:hover{
	transform:rotateY(180deg);
}



/*horizon-boxes*/

.horizon-boxes-wrapper{
    width:100%;
    margin-bottom:25px;
	box-shadow:0 1px 5px rgba(104, 104, 104, 0.8);
}
.horizon-boxes{
   background:darkgray;
       padding:10px 10px 0 10px;
   display:grid;
   grid-gap:20px;
   grid-template-columns:repeat(10,250px);
   overflow-x: scroll;

}
.horizon-boxes div{
    /*margin:10px 0;*/
  box-shadow:0 1px 5px rgba(104, 104, 104, 0.8);
  width:250px;
    height:250px;
      background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    display:flex;
    justify-content:center;
    align-items:start;
}

.horizon-boxes div:nth-child(1){ background:url(https://source.unsplash.com/random/210x201);  }
.horizon-boxes div:nth-child(2){ background:url(https://source.unsplash.com/random/210x202);   }
.horizon-boxes div:nth-child(3){ background:url(https://source.unsplash.com/random/210x203);  }
.horizon-boxes div:nth-child(4){ background:url(https://source.unsplash.com/random/210x204);  }
.horizon-boxes div:nth-child(5){ background:url(https://source.unsplash.com/random/210x205);  }
.horizon-boxes div:nth-child(6){ background:url(https://source.unsplash.com/random/210x206);  }
.horizon-boxes div:nth-child(7){ background:url(https://source.unsplash.com/random/210x207);  }
.horizon-boxes div:nth-child(8){ background:url(https://source.unsplash.com/random/210x208);  }
.horizon-boxes div:nth-child(9){ background:url(https://source.unsplash.com/random/210x209);  }
.horizon-boxes div:nth-child(10){ background:url(https://source.unsplash.com/random/210x210); }

.horizon-boxes div a{
   margin-top:180px;
}

 .welcome-section{
        position:fixed;
	    width: 100%;
	    height:100%;
	    top:0;
	    left:0;
	      background:url(https://pre00.deviantart.net/1302/th/pre/i/2014/009/8/1/frozen_wallpaper_1920_x_1080_by_atom45-d71ktut.jpg);
  background-position: center;
  background-size: cover;
	    overflow:hidden;
	    z-index:9999;
	    /********/display:flex;
     }

     .welcome-section .content-wrap{
         width:80%;/****************************/
	   /* position:absolute;*/
	    /*left:50%;*//******************/
	    /*top:50%;*//********************/
	    margin:auto;/***********************/
	    display:flex;
	     flex-direction:column;
	     justify-content:center;
	     align-items:center;
	    /*transform:translate3d(-50%,-50%,0);*/
    }

    .welcome-section .content-wrap .fly-in-text{
	    list-style:none;display:flex; justify-content:center;   flex-wrap: wrap;
    }

    .welcome-section .content-wrap .fly-in-text li{
	    /*display:inline-block;*/
	    margin-right:10px;
	    /*font-size:12px;*/
	    color:orange;
	    font-weight:bolder;
	    opacity: 1;
	    transition: all 2s ease;
    }
    .welcome-section .content-wrap .fly-in-text li:last-child{
	    margin-right:0;
    }
    .welcome-section .content-wrap .mid-para{
        margin:50px 0;
		text-align:center;
	    font-size:36px;
	    line-height:38px;
	    text-decoration:none;
	    color:lime;
	    opacity:1;
	    width:100%;/*********************/
	    height:38px;/*******************/
	    overflow:hidden;/********************/
	    transition: all 4s ease 1s;
    }
    .welcome-section .content-wrap .enter-button{
	    /*display:block;*/
	    line-height:50px;
	    width:150px;
	    border-radius:25px;
	    text-align:center;
	    background:red;
	    font-size:24px;
	    text-decoration:none;
	    text-transform:uppercase;
	    color:white;
	    opacity:1;
	    transition: transform 1s ease 2s,
	                opacity 1s ease 2s;
    }
    /*.welcome-section .content-wrap .enter-button:hover{
        opacity: 0.8;
        text-decoration: underline;
     }*/
    .welcome-section.content-hidden .content-wrap .fly-in-text li{ opacity:0	}
    .welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(1){ transform:translate3d(-200px,200px,0);	}
    .welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(4){ transform:translate3d(200px,-200px,0);}
    .welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(2){ transform:translate3d(-100px,100px,0);	}
    .welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(3){ transform:translate3d(100px,-100px,0);}
    .welcome-section.content-hidden .content-wrap .mid-para{opacity:1;  width:0;}/************/
    .welcome-section.content-hidden .content-wrap .enter-button{opacity:0; transform: translate3d(0,80px,0);}/**********/


#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
