body {
  padding: 15px;
   margin: 0;
}

p#info {
   margin-top: 10px; font-size: 25px; 
} 

div#sketch-holder{
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

div#sketch-holder #imgContainer{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 90;
}

div#sketch-holder #imgContainer > div{
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 90;
}

div#sketch-holder #imgContainer > div img{
  position: absolute;
}

div#sketch-holder #result{
  background-color: white;
  opacity: 0.4;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100; 
  display: none;
}

div#sketch-holder #message{
  display: none;
  position: absolute;
  /* opacity:0; */
  /* transition: top linear .3s, opacity linear .3s ;            */
  left:50%;
  /* top:150%; */
  transform: translateX(-50%) translateY(-50%) scale(1);
  z-index: 101;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden
}

div#sketch-holder #message.go{
  visibility: visible;
  top:50%; 
  opacity:1
}

div#sketch-holder #message.anim{
  animation-name: example;
  animation-duration: 0.7s;
  visibility: visible;
  top:50%; 
  opacity:1
}
@keyframes example{
  from { top:150%; opacity:0.3; transform: translateX(-50%) translateY(-50%) scale(0.2);}
  to { top:50%; opacity:1; transform: translateX(-50%) translateY(-50%) scale(1);}
}

div#sketch-holder #message p{
  font-size: 36px;
  color: red;
  font-weight: bolder; 
}

button#reset{
  background: orange;
  border-radius: 50%;
  padding: 15px;
  display: none;
}

button#reset:hover{
  cursor: pointer;
  font-style: italic;
  font-weight: bolder;
}

div.buttons{
  display: flex;
  justify-content: space-evenly;
  width: 500px;
}