

body, html{
    height: 100%;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin: 3rem;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    /* grid-gap: 1rem; */
    cursor: pointer;
}

main .card{
    transition: transform 1s;
}

main .card:hover{
    transform: translateY(-10px)
}

main .card img{
    width: 100%;
}

main .card .info{
    padding: 1rem;
}